<div class="container">
  <div class="col">
    <div class="">
      <div class="row shadow pt-2 bg-light rounded">
        <button class="m-2 col-1 btn border border-primary rounded-pill text-primary">Newest</button>
        <button class="m-2 col-1 btn border border-primary rounded-pill text-primary">Oldest</button>
        <% if user_signed_in? %>
          <%= link_to "Create", "/posts/new", class: "m-2 col-1 btn border border-primary rounded-pill text-primary" %>
        <% else %>
          <%= link_to "Create", "/users/sign_in", class: "m-2 col-1 btn border border-primary rounded-pill text-primary" %>
        <% end %>
      </div>

      <div class="col">
        <% Post.newest.each do |post| %>
          <div class="row shadow p-5 my-4 bg-light rounded">
            <p class="text-secondary">u/<%= post.user.username %> </p>
            <p class="fw-bold fs-3 text-decoration-underline"> <%= post.title %> </p>
            <p class="fs-4"> <%= post.content %> </p>
            <%# need to add comment ability %>
            <div class="text-end">
              <a class="text-end col-1 btn border border-primary rounded-pill text-primary text-decoration-none">Comment</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
